@using MooseMus.Models.ViewModels
@model StudentSubmitViewModel

<h3>Result</h3>
<h4>Your submission is @Model.projectAccepted</h4>

<div class="container">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Output Obtained</th>
                <th>OutPut Expected</th>
                <th>Accepted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var res in Model.result) { 
            <tr>
                <td>
                    @foreach (var line in res.outputObtained)
                    {
                        <p>@line</p>
                    }
                </td>
                <td>
                    @foreach (var line in res.outputExpected)
                    {
                        <p>@line</p>
                    }
                </td>
                <td>@res.accepted</td>
            </tr>
            }
        </tbody>
    </table>
</div>
