@using MooseMus.Models.ViewModels
@model StudentSubmitViewModel

<h2>Submit Project Part</h2>
<p>@Model.description</p>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("submitAProjectPart", "Student", FormMethod.Post, new { @id = "theForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.fileUploaded, "Upload your file here", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.fileUploaded, null, new { type = "file", @class = "input-file" })
                    @Html.ValidationMessageFor(m => m.fileUploaded, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="hidden" name="projectPartID" value=@Model.projectPartID>
            <input type="hidden" name="studentID" value=@Model.studentID>
            <input type="hidden" name="projectPartName" value=@Model.projectPartName>
            <input type="hidden" name="description" value=@Model.description>
            <input type="Submit" id="submission" class="btn btn-primary" value="Submit" />
        }
    </div>
</div>

<Form><input type="button" onclick="history.go(-1); return true;" class="btn btn-primary" value="GO BACK" /></Form>

<div id="result">
    @if (ViewBag.Success != null && ViewBag.Success == true)
    {
        Html.RenderPartial("Result", Model);
    }
</div>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
