@{
    ViewBag.Title = "submission";
}


    <div class="form-horizontal">
        <div class="form-group">
            <h2>submission</h2>
            <form>
                <textarea name="code" rows="4" cols="50"></textarea>
                <input type="submit" value="submit"/>
            </form>
        </div>
        </div>
