@model MooseMus.Models.ViewModels.ProjectPartsViewModel
@{
    ViewBag.Title = @Model.projectName;
}
<ul>
    @if (Model.parts != null)
    {
        foreach (var part in @Model.parts)
        {
            <li><a href="javascript:editProjectPart(@part.projectPartID);">@part.projectPartName</a></li>       
        }
    }
</ul>

<script type="text/javascript">
    function editProjectPart(pp) {
        $('#proj').load('/Teacher/editProjectPart?projParID=' + pp);
        return false;
    }
</script>