body 
{
    padding-top: 2px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif !important;
    background-attachment: fixed;
    background-image: url("Images/BG-01.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 50px;
    font-size: 18px;
}

h2, h3
{
    padding-left: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

/*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column*/

.dl-horizontal dt 
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
}

.navbar-brand > img 
{
    float: left;
    display: block;
    width: 100px;
    height:100px;
}

.navbar-nav > li > a:hover, a:active 
{
    text-decoration: none;
    color: black;
    background-color: transparent !important;
}

.navbar-nav > li > a 
{
    background-color: transparent !important;
    padding-top: 15px;
    color: black;
}

.navbar-nav > li > a:focus 
{
    background-color: transparent !important;
    color: black;
}

.navbar-collapse collapse > ul 
{
    padding-top: 5px;
}

label 
{
    text-transform: lowercase;
}

label:first-letter 
{
    text-transform: uppercase;
}

a 
{
    text-decoration: none;
    color: black;
}

a.dropdown-hover-color:hover 
{
    text-decoration: none;
    color: white;
    font-size: 100%;
    background-color: rgba(255, 0, 0, 0.2) !important;
}

li:hover a
{
    text-decoration: none;
    color: black;
    font-size: 100%;
}


.navbar-brand:hover a
{
    text-decoration: none;
    color: black;
    font-size: 100%;
}

footer 
{
     position: fixed;
     bottom: 0;
     word-spacing: 10px;
}

.form-horizontal 
{
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    border: solid;
    border-radius: 16px;
    padding: 8px;
}

.navleft
{
    float: left;
    width: 250px;
}

.actionlink:hover
{
    font-size: 150%;
    color: black;
}

div
{
    margin-top:10px;
}

.actionlink
{
    margin:40px;
}

a:visited
{
    text-decoration: none;
    color: black !important;
}

.nav a:hover .caret
{
    border-top-color: black !important;
    border-bottom-color: black !important;
}

.nav .caret
{
    border-top-color: black !important;
    border-bottom-color: black !important;
}

.dropdown.open
{
    padding-left: 20px;
}

.dropdown
{
    padding-left: 60px;
}

.dropdown-menu 
{
    text-decoration: none;
    font-size: 65%;
    background-color: #eeeeee;
    border-right: 30px;
}

.dropdown-menu:hover > li > a
{
    color: black;
}

.dropdown-toggle.visited
{
    text-decoration: none;
    color: black;
}

.navleft:visited
{
    text-decoration: none;
    color: black;
}

.makeblack:visited
{
    text-decoration: none;
    color: black !important;
}

.makeblack:focus
{
    color: black !important;
    text-decoration: none;
}

.makeblack:active
{
    color: black !important;
    text-decoration: none;
}

dt 
{
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 16px;
}

.nav a:hover .caret
{
    border-top-color: black !important;
    border-bottom-color: black !important;
}

.nav .caret
{
    border-top-color: black !important;
    border-bottom-color: black !important;
}

html, body
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

table > tbody > tr
{
    border-top: 10px;
}

label.col-md-2.control-label
{
    padding-top: 14px;
    font-size: 10;
}

div.col-md-10
{
    padding-bottom: 14px;
}

table.table.table-hover.table-condensed
{
    margin-top: 45px;
}

.text-danger
{
    color: black;
}

#loginLink:hover
{
    font-size: 100%;
}

select 
{
     width: 180px;
}

.navleft li:hover
{
    font-size: 125%
}

input.btn.btn-primary
{
    background-color: #eeeeee;
    color: black;
    margin-left: 240px;
}

.control-label 
{
    font-size: 18px;
}

input.btn.btn-default
{
    margin-left: 220px;
}

.form-horizontal
{
    background-color: #eeeeee !important;
}

.sub-bacground
{
    background-color: #eeeeee;
}
