@{
    ViewBag.Title = "About";
    ViewBag.color = "black";
}
<h2>@ViewBag.Title.</h2>


<p> This webpage is meant for students and teachers at the Reykjavik University.
    Students are able to turn in projects in JavaScript and receive feedback, whether the project was successful/unsuccessful. If they are not successful they will get simple error declaration. 
    It also simplifies project reviewing for teachers. Therefore, this webpage makes the connection between these two groups much more simpler. </p>
</p>

     This webpage was designed by a group of six women who are all enrolled in a course called Verklegt Namskeid 2 at the Reykjavik University.
</p>
