@{
    ViewBag.Title = "About";
    ViewBag.color = "black";
}
<h2>@ViewBag.Title.</h2>
<p> MooseMus is a webpage meant for students and teachers at the Reykjavik University.
    It enables students to turn in JavaScript projects and receive feedback, whether the project was successful/unsuccessful. If they are not successful they will get simple error declaration. 
    The webpage also simplifies project reviewing for teachers. Therefore, this webpage makes the connection between these two groups much more simpler. </p>
</p>
     The webpage was designed by a group of six women who are all enrolled in a course called Verklegt Namskeid 2 at the Reykjavik University.
</p>
