@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<address>
    Háskólinn í Reykjavík<br />
    Menntavegi 1<br />
    101 Reykjavík<br />
    <abbr title="Phone"></abbr>
    555 0000
</address>
<address>
    <strong>Support:</strong><a href="mailto:admin@moosemus.ru.is">admin@moosemus.ru.is</a><br />
 </address>