@using MooseMus.Models.ViewModels
@model UserHomeViewModel
@{
    ViewBag.Title = "Login";
}

<h2>@ViewBag.Title.</h2>

<ul>      
    @foreach (var course in Model.courses)
    {
        <li>@course.name</li>
    }
</ul>

