@using MooseMus.Models.ViewModels
@model UserHomeViewModel

@{
    ViewBag.Title = "login";
}

        <h2>Courses</h2>

        <ul>      
            @foreach (var course in Model.courses)
            {
                <li>@course.name</li>
            }
        </ul>
